@import url("https://fonts.googleapis.com/css?family=Josefin+Sans");
* {
    margin: 0;
    padding: 0;
}

.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: "Josefin Sans", cursive;
    background-color: #64baaa;
    justify-content: center;
}

.div {
    margin: 0px;
}

.menu {
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #4c8076;
}

.header_logo {
    flex-grow: 1;
    text-align: center;
}

.header_logo>img {
    width: 500px;
    height: auto;
}

.navigation {
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
    justify-self: flex-end;
    align-items: center;
}

.navigation>a {
    text-decoration: none;
    color: black;
    font-size: 25px;
}

.navigation>a:focus {
    text-decoration: underline;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin: auto;
}

.image_item {
    flex-grow: 1;
    text-align: center;
    width: 45%;
}

.image_item>img {
    /* width: 250px; */
    /* height: auto; */
}

.header_text {
    flex-grow: 1;
    padding: 10px;
    text-align: center;
    font-size: 60px;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 0px;
    align-content: center;
    justify-content: center;
    width: 80%;
    margin: auto;
    background-color: #fceaff;
}

.gallery {
    flex: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.gallery>img {
    width: 350px;
    height: auto;
    margin: 10px;
}

.contact {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.card {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 100px;
}

.item {
    flex-grow: 1;
    text-align: center;
    width: 45%;
    font-size: 20px;
    padding: 0px 40px;
}

.footer {
    background-color: #4c8076;
    min-height: 100px;
    margin-top: 10px;
}

.card:nth-child(even) {
    flex-wrap: wrap-reverse;
}

.showImage {
    /* position: absolute; */
    height: auto;
    width: 100%;
    align-self: center;
}

.show {
    /* Center the content */
    height: auto;
    flex-direction: row;
    width: 50vw;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: auto;
    /* Spacing */
    padding: 8px;
}

.button__arrow {
    /* Transparent background */
    background-color: transparent;
    /* Size */
    height: 30px;
    width: 30px;
}

.button__arrow--right {
    /* Edges */
    border-right: 0px;
    border-top: 0px;
    border-bottom: 3px solid rgb(163, 152, 152);
    border-left: 3px solid white;
    transform: translateX(-25%) rotate(45deg);
}

.button__arrow--left {
    /* Edges */
    border-bottom: 0px;
    border-left: 0px;
    border-right: 3px solid rgb(163, 152, 152);
    border-top: 3px solid white;
    transform: translateX(25%) rotate(45deg);
}

@media only screen and (max-width: 600px) {
    .header_logo>img {
        width: 350px;
        height: auto;
    }
    .header_text {
        font-size: 40px;
        flex-grow: 1;
        padding: 10px;
        text-align: center;
    }
}